In [ ]:
import pandas as pd
import openpyxl

In [ ]:
# Read xlsx file and conver to dataframe
df = pd.read_excel('ListadoReaseguro.xlsx', sheet_name='Report')

In [ ]:
# Print resumen of the dataframe
print(df.info())

In [52]:
# print first elements of the dataframe
print(df.head(25))

                        Unnamed: 0  Unnamed: 1  \
0                              NaN         NaN
1                              NaN         NaN
2                              NaN         NaN
3                              NaN         NaN
4                           Póliza         NaN
5                              NaN         NaN
6                              NaN         NaN
7   A  0301       215    13    105         NaN
8   A  0301       215    13    106         NaN
9   A  0301       215    13    108         NaN
10  A  0301       215    13    109         NaN
11                             NaN         NaN
12                             NaN         NaN
13                    Reasegurador         NaN
14                             NaN         NaN
15                     MS AMLIN AG         NaN
16                             NaN         NaN
17      KOREAN REINSURANCE COMPANY         NaN
18                             NaN         NaN
19        SCOR REINSURANCE COMPANY         NaN
20                             NaN         NaN
21       REASEGURADORA PATRIA S.A.         NaN
22                             NaN         NaN
23                             NaN         NaN
24  A  0301       215    13    104         NaN

                                           Unnamed: 2  \
0                            REGIONAL S.A. DE SEGUROS
1                        Listado Cesiones En Contrato
2   Emisiones - En Guaraníes - Por artículo -  Ent...
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                           Contrato:
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                             TOTAL:
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                          Contrato:
24                                                NaN

                                        Unnamed: 3   Unnamed: 4  Unnamed: 5  \
0                                              NaN          NaN         NaN
1                                              NaN          NaN         NaN
2                                              NaN          NaN         NaN
3                                              NaN          NaN         NaN
4                                        Asegurado          NaN         NaN
5                               Reaseguros Activos          NaN         NaN
6                                             2022    EXCEDENTE         NaN
7   EMPRENDIMIENTOS COMERCIALES Y PRODUCTIVOS S.A.          NaN         NaN
8   EMPRENDIMIENTOS COMERCIALES Y PRODUCTIVOS S.A.          NaN         NaN
9   EMPRENDIMIENTOS COMERCIALES Y PRODUCTIVOS S.A.          NaN         NaN
10  EMPRENDIMIENTOS COMERCIALES Y PRODUCTIVOS S.A.          NaN         NaN
11                                            2022    EXCEDENTE         NaN
12                                             NaN          NaN         NaN
13                                             NaN          NaN         NaN
14                                             NaN          NaN         NaN
15                                             NaN          NaN         NaN
16                                             NaN          NaN         NaN
17                                             NaN          NaN         NaN
18                                             NaN          NaN         NaN
19                                             NaN          NaN         NaN
20                                             NaN          NaN         NaN
21                                             NaN          NaN         NaN
22                                             NaN          NaN         NaN
23                                            2022  CUOTA PARTE         NaN
24  EMPRENDIMIENTOS COMERCIALES Y PRODUCTIVOS S.A.          NaN         NaN

    Unnamed: 6     Unnamed: 7  Unnamed: 8           Unnamed: 9  ...  \
0          NaN            NaN         NaN                  NaN  ...
1          NaN            NaN         NaN                  NaN  ...
2          NaN            NaN         NaN                  NaN  ...
3          NaN            NaN         NaN                  NaN  ...
4          NaN            NaN         NaN                Desde  ...
5          NaN            NaN         NaN                  NaN  ...
6          NaN     TRANSPORTE         NaN                  NaN  ...
7          NaN            NaN         NaN  2022-12-09 00:00:00  ...
8          NaN            NaN         NaN  2022-12-09 00:00:00  ...
9          NaN            NaN         NaN  2022-12-09 00:00:00  ...
10         NaN            NaN         NaN  2022-12-09 00:00:00  ...
11         NaN     TRANSPORTE         NaN                  NaN  ...
12         NaN            NaN         NaN                  NaN  ...
13         NaN  Participación         NaN                  NaN  ...
14         NaN            NaN         NaN                  NaN  ...
15         NaN            NaN        50.0                    %  ...
16         NaN            NaN         NaN                  NaN  ...
17         NaN            NaN        25.0                    %  ...
18         NaN            NaN         NaN                  NaN  ...
19         NaN            NaN        20.0                    %  ...
20         NaN            NaN         NaN                  NaN  ...
21         NaN            NaN         5.0                    %  ...
22         NaN            NaN         NaN                  NaN  ...
23         NaN     TRANSPORTE         NaN                  NaN  ...
24         NaN            NaN         NaN  2022-12-09 00:00:00  ...

   Unnamed: 14 Unnamed: 15       Unnamed: 16 Unnamed: 17      Unnamed: 18  \
0          NaN         NaN               NaN         NaN              NaN
1          NaN         NaN               NaN         NaN              NaN
2          NaN         NaN               NaN         NaN              NaN
3          NaN         NaN               NaN         NaN              NaN
4          NaN         NaN    Capital Cedido         NaN     Prima Cedida
5          NaN         NaN               NaN         NaN              NaN
6          NaN         NaN               NaN         NaN              NaN
7          NaN         NaN         349087398         NaN           768023
8          NaN         NaN        1053871594         NaN          2318539
9          NaN         NaN        2824179428         NaN          6213134
10         NaN         NaN        2410836370         NaN          5303819
11         NaN         NaN        6637974790         NaN         14603515
12         NaN         NaN               NaN         NaN              NaN
13  % Comisión         NaN  Importe Comisión         NaN  A Vuestro Favor
14         NaN         NaN               NaN         NaN              NaN
15          31         NaN           2263541         NaN          5038217
16         NaN         NaN               NaN         NaN              NaN
17          34         NaN           1241297         NaN          2409582
18         NaN         NaN               NaN         NaN              NaN
19          25         NaN            730175         NaN          2190528
20         NaN         NaN               NaN         NaN              NaN
21          28         NaN            204448         NaN           525727
22         NaN         NaN               NaN         NaN              NaN
23         NaN         NaN               NaN         NaN              NaN
24         NaN         NaN         122058196         NaN           268483

    Unnamed: 19 Unnamed: 20          Unnamed: 21 Unnamed: 22  Unnamed: 23
0           NaN      Fecha:  2023-09-18 00:00:00         NaN          NaN
1           NaN       Hora:      14:05:30.958000         NaN          NaN
2           NaN    Programa  rptCesionesContrato         NaN          NaN
3           NaN         NaN                  NaN         NaN          NaN
4           NaN        A.I.                  NaN       Casco          Año
5           NaN         NaN                  NaN         NaN          NaN
6           NaN         NaN                  NaN         NaN          NaN
7           NaN         NaN                  NaN         NaN          NaN
8           NaN         NaN                  NaN         NaN          NaN
9           NaN         NaN                  NaN         NaN          NaN
10          NaN         NaN                  NaN         NaN          NaN
11          NaN         NaN                  NaN         NaN          NaN
12          NaN         NaN                  NaN         NaN          NaN
13          NaN         NaN                  NaN         NaN          NaN
14          NaN         NaN                  NaN         NaN          NaN
15          NaN         NaN                  NaN         NaN          NaN
16          NaN         NaN                  NaN         NaN          NaN
17          NaN         NaN                  NaN         NaN          NaN
18          NaN         NaN                  NaN         NaN          NaN
19          NaN         NaN                  NaN         NaN          NaN
20          NaN         NaN                  NaN         NaN          NaN
21          NaN         NaN                  NaN         NaN          NaN
22          NaN         NaN                  NaN         NaN          NaN
23          NaN         NaN                  NaN         NaN          NaN
24          NaN         NaN                  NaN         NaN          NaN

[25 rows x 24 columns]

In [ ]:

# Extract the fifth row as column names
new_column_names = df.iloc[4]

# Use the rows that start with 'A' in the first column
mask = df.iloc[:, 0].str.startswith('A', na=False)
new_df = df[mask]

# Set the extracted row as the new column names
new_df.columns = new_column_names

In [ ]:
print(new_df.info())

In [ ]:
print(new_df.head())

In [ ]:
# Delete empty columns of the new dataframe
new_df.dropna(axis=1, how='all', inplace=True)

In [ ]:
print(new_df.head())

In [ ]:
# Generate a excel file named 'listado_generado.xlsx' with the new_df dataframe
new_df.to_excel('listado_generado.xlsx', index=False)

In [ ]:
# Extract the 5th row as column names
column_names = df.iloc[13]

# Identify rows that meet the specified conditions
condition = (
    ~df.iloc[:, 0].str.lower().str.split().str[0].isin(['póliza', 'operador:', 'a', 'n','reasegurador']) &  # Exclude specific values
    df.iloc[:, 0].notna()  # Exclude rows with NaN values in the first column
)

# Create the new DataFrame based on the specified conditions
reaseguradoras_df = df[condition]

# Set the 5th row as the new column names
reaseguradoras_df.columns = column_names

In [ ]:
# Delete empty columns of the dataframe
reaseguradoras_df.dropna(axis=1, how='all', inplace=True)

In [ ]:
print(reaseguradoras_df.info())

In [ ]:
reaseguradoras_df.to_excel('resumen_reaseguradoras.xlsx', index=False)

In [68]:
# Initialize an empty list to store the selected DataFrames
selected_dfs = []

# Flags to track whether "TOTAL:" and "Contrato:" are found
total_found = False
contrato_found = False

# Iterate through the DataFrame
for i in range(len(df)):
    # Check conditions for each row
    if df.iloc[i, 2] == "TOTAL:":
        total_found = True
        contrato_found = False
    elif df.iloc[i, 2] == "Contrato:":
        contrato_found = True
        total_found = False
    
    # Select rows between "TOTAL:" and "Contrato:"
    if total_found and not contrato_found:
        selected_dfs.append(df.iloc[i])

# Check if there are selected DataFrames
if selected_dfs:
    # Concatenate the list of selected DataFrames into a single DataFrame
    result_df = pd.concat(selected_dfs, axis=1).T
    
    # Filter out rows that start with specific words in the first column
    result_df = result_df[~result_df.iloc[:, 0].astype(str).str.startswith(('Póliza', 'Operador:'))]
    
    # Filter out rows that in the third column start with specific words
    result_df = result_df[~result_df.iloc[:, 2].astype(str).str.startswith(('REGIONAL', 'Listado', 'Emisiones'))]

    # Remove columns with all NaN values
    result_df = result_df.dropna(axis=1, how='all')
    
    # Now, result_df contains the desired rows between "TOTAL:" and "Contrato:" with additional filtering
else:
    print("No matching rows found.")

# Display the resulting DataFrame
print(result_df)

          Unnamed: 0 Unnamed: 2 Unnamed: 3 Unnamed: 4     Unnamed: 7  \
11               NaN     TOTAL:       2022  EXCEDENTE     TRANSPORTE
12               NaN        NaN        NaN        NaN            NaN
13      Reasegurador        NaN        NaN        NaN  Participación
14               NaN        NaN        NaN        NaN            NaN
15       MS AMLIN AG        NaN        NaN        NaN            NaN
...              ...        ...        ...        ...            ...
158228           NaN        NaN        NaN        NaN            NaN
158229           NaN        NaN        NaN        NaN            NaN
158230           NaN        NaN        NaN        NaN            NaN
158231           NaN        NaN        NaN        NaN            NaN
158232           NaN        NaN        NaN        NaN            NaN

       Unnamed: 8 Unnamed: 9 Unnamed: 10  Unnamed: 11 Unnamed: 13 Unnamed: 14  \
11            NaN        NaN         NaN  11437974717    25163466         NaN
12            NaN        NaN         NaN          NaN         NaN         NaN
13            NaN        NaN       Prima          NaN         NaN  % Comisión
14            NaN        NaN         NaN          NaN         NaN         NaN
15           50.0          %     7301758          NaN         NaN          31
...           ...        ...         ...          ...         ...         ...
158228        NaN        NaN         NaN          NaN         NaN         NaN
158229        NaN        NaN         NaN          NaN         NaN         NaN
158230        NaN        NaN         NaN          NaN         NaN         NaN
158231        NaN        NaN         NaN          NaN         NaN         NaN
158232        NaN        NaN         NaN          NaN         NaN         NaN

             Unnamed: 16      Unnamed: 18
11            6637974790         14603515
12                   NaN              NaN
13      Importe Comisión  A Vuestro Favor
14                   NaN              NaN
15               2263541          5038217
...                  ...              ...
158228               NaN              NaN
158229               NaN              NaN
158230               NaN              NaN
158231               NaN              NaN
158232               NaN              NaN

[541 rows x 13 columns]

In [71]:
# Initialize an empty list to store the selected DataFrames
selected_dfs = []

# Flags to track whether "TOTAL:" and "Contrato:" are found
total_found = False
contrato_found = False

# Iterate through the DataFrame
for i in range(len(df)):
    # Check conditions for each row
    if (
        df.iloc[i, 2] == "TOTAL:" and
        df.iloc[i, 3] == 2022 and
        df.iloc[i, 4] == "EXCEDENTE"
    ):
        total_found = True
        contrato_found = False
    elif df.iloc[i, 2] == "Contrato:":
        contrato_found = True
        total_found = False
    
    # Select rows between "TOTAL:" and "Contrato:"
    if total_found and not contrato_found:
        selected_dfs.append(df.iloc[i])

# Check if there are selected DataFrames
if selected_dfs:
    # Concatenate the list of selected DataFrames into a single DataFrame
    result_df = pd.concat(selected_dfs, axis=1).T
    
    # Filter out rows that start with specific words in the first column
    result_df = result_df[~result_df.iloc[:, 0].astype(str).str.startswith(('Póliza', 'Operador:'))]
    
    # Filter out rows that in the third column start with specific words
    result_df = result_df[~result_df.iloc[:, 2].astype(str).str.startswith(('REGIONAL', 'Listado', 'Emisiones'))]
    
    # Remove columns with all NaN values
    result_df = result_df.dropna(axis=1, how='all')
    
    # Now, result_df contains the desired rows between "TOTAL:" and "Contrato:" with additional filtering
else:
    print("No matching rows found.")

# Display the resulting DataFrame
print(result_df)

                     Unnamed: 0 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
11                          NaN     TOTAL:       2022  EXCEDENTE
12                          NaN        NaN        NaN        NaN
13                 Reasegurador        NaN        NaN        NaN
14                          NaN        NaN        NaN        NaN
15                  MS AMLIN AG        NaN        NaN        NaN
16                          NaN        NaN        NaN        NaN
17   KOREAN REINSURANCE COMPANY        NaN        NaN        NaN
18                          NaN        NaN        NaN        NaN
19     SCOR REINSURANCE COMPANY        NaN        NaN        NaN
20                          NaN        NaN        NaN        NaN
21    REASEGURADORA PATRIA S.A.        NaN        NaN        NaN
22                          NaN        NaN        NaN        NaN
320                         NaN     TOTAL:       2022  EXCEDENTE
321                         NaN        NaN        NaN        NaN
322                Reasegurador        NaN        NaN        NaN
323                         NaN        NaN        NaN        NaN
324                 MS AMLIN AG        NaN        NaN        NaN
325                         NaN        NaN        NaN        NaN
327                         NaN        NaN        NaN        NaN
328                         NaN        NaN        NaN        NaN
329                         NaN        NaN        NaN        NaN
333                         NaN        NaN        NaN        NaN
335                         NaN        NaN        NaN        NaN
336  KOREAN REINSURANCE COMPANY        NaN        NaN        NaN
337                         NaN        NaN        NaN        NaN
338    SCOR REINSURANCE COMPANY        NaN        NaN        NaN
339                         NaN        NaN        NaN        NaN
340   REASEGURADORA PATRIA S.A.        NaN        NaN        NaN
341                         NaN        NaN        NaN        NaN
373                         NaN     TOTAL:       2022  EXCEDENTE
374                         NaN        NaN        NaN        NaN
375                Reasegurador        NaN        NaN        NaN
376                         NaN        NaN        NaN        NaN
377                 MS AMLIN AG        NaN        NaN        NaN
378                         NaN        NaN        NaN        NaN
379  KOREAN REINSURANCE COMPANY        NaN        NaN        NaN
380                         NaN        NaN        NaN        NaN
382                         NaN        NaN        NaN        NaN
383                         NaN        NaN        NaN        NaN
384                         NaN        NaN        NaN        NaN
388                         NaN        NaN        NaN        NaN
390                         NaN        NaN        NaN        NaN
391    SCOR REINSURANCE COMPANY        NaN        NaN        NaN
392                         NaN        NaN        NaN        NaN
393   REASEGURADORA PATRIA S.A.        NaN        NaN        NaN
394                         NaN        NaN        NaN        NaN

         Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  Unnamed: 11  \
11       TRANSPORTE        NaN        NaN         NaN  11437974717
12              NaN        NaN        NaN         NaN          NaN
13    Participación        NaN        NaN       Prima          NaN
14              NaN        NaN        NaN         NaN          NaN
15              NaN       50.0          %     7301758          NaN
16              NaN        NaN        NaN         NaN          NaN
17              NaN       25.0          %     3650879          NaN
18              NaN        NaN        NaN         NaN          NaN
19              NaN       20.0          %     2920703          NaN
20              NaN        NaN        NaN         NaN          NaN
21              NaN        5.0          %      730175          NaN
22              NaN        NaN        NaN         NaN          NaN
320        INCENDIO        NaN        NaN         NaN  46671471995
321             NaN        NaN        NaN         NaN          NaN
322   Participación        NaN        NaN       Prima          NaN
323             NaN        NaN        NaN         NaN          NaN
324             NaN       50.0          %     2561267          NaN
325             NaN        NaN        NaN         NaN          NaN
327             NaN        NaN        NaN         NaN          NaN
328             NaN        NaN        NaN         NaN          NaN
329             NaN        NaN        NaN         NaN          NaN
333             NaN        NaN        NaN         NaN          NaN
335             NaN        NaN        NaN         NaN          NaN
336             NaN       25.0          %     1280633          NaN
337             NaN        NaN        NaN         NaN          NaN
338             NaN       20.0          %     1024507          NaN
339             NaN        NaN        NaN         NaN          NaN
340             NaN        5.0          %      256126          NaN
341             NaN        NaN        NaN         NaN          NaN
373  RIESGOS VARIOS        NaN        NaN         NaN    220000000
374             NaN        NaN        NaN         NaN          NaN
375   Participación        NaN        NaN       Prima          NaN
376             NaN        NaN        NaN         NaN          NaN
377             NaN       50.0          %      230500          NaN
378             NaN        NaN        NaN         NaN          NaN
379             NaN       25.0          %      115250          NaN
380             NaN        NaN        NaN         NaN          NaN
382             NaN        NaN        NaN         NaN          NaN
383             NaN        NaN        NaN         NaN          NaN
384             NaN        NaN        NaN         NaN          NaN
388             NaN        NaN        NaN         NaN          NaN
390             NaN        NaN        NaN         NaN          NaN
391             NaN       20.0          %       92200          NaN
392             NaN        NaN        NaN         NaN          NaN
393             NaN        5.0          %       23050          NaN
394             NaN        NaN        NaN         NaN          NaN

    Unnamed: 13 Unnamed: 14       Unnamed: 16      Unnamed: 18
11     25163466         NaN        6637974790         14603515
12          NaN         NaN               NaN              NaN
13          NaN  % Comisión  Importe Comisión  A Vuestro Favor
14          NaN         NaN               NaN              NaN
15          NaN          31           2263541          5038217
16          NaN         NaN               NaN              NaN
17          NaN          34           1241297          2409582
18          NaN         NaN               NaN              NaN
19          NaN          25            730175          2190528
20          NaN         NaN               NaN              NaN
21          NaN          28            204448           525727
22          NaN         NaN               NaN              NaN
320     7128574         NaN       35025822221          5122533
321         NaN         NaN               NaN              NaN
322         NaN  % Comisión  Importe Comisión  A Vuestro Favor
323         NaN         NaN               NaN              NaN
324         NaN          31            794006          1767261
325         NaN         NaN               NaN              NaN
327         NaN         NaN               NaN              NaN
328         NaN         NaN               NaN              NaN
329         NaN         NaN               NaN              NaN
333         NaN         NaN               NaN              NaN
335         NaN         NaN               NaN              NaN
336         NaN          34            435423           845210
337         NaN         NaN               NaN              NaN
338         NaN          25            256131           768376
339         NaN         NaN               NaN              NaN
340         NaN          28             71716           184410
341         NaN         NaN               NaN              NaN
373      461000         NaN         220000000           461000
374         NaN         NaN               NaN              NaN
375         NaN  % Comisión  Importe Comisión  A Vuestro Favor
376         NaN         NaN               NaN              NaN
377         NaN          31             71455           159045
378         NaN         NaN               NaN              NaN
379         NaN          34             39185            76065
380         NaN         NaN               NaN              NaN
382         NaN         NaN               NaN              NaN
383         NaN         NaN               NaN              NaN
384         NaN         NaN               NaN              NaN
388         NaN         NaN               NaN              NaN
390         NaN         NaN               NaN              NaN
391         NaN          25             23050            69150
392         NaN         NaN               NaN              NaN
393         NaN          28              6454            16596
394         NaN         NaN               NaN              NaN

In [72]:
print(result_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 11 to 394
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   15 non-null     object
 1   Unnamed: 2   3 non-null      object
 2   Unnamed: 3   3 non-null      object
 3   Unnamed: 4   3 non-null      object
 4   Unnamed: 7   6 non-null      object
 5   Unnamed: 8   12 non-null     object
 6   Unnamed: 9   12 non-null     object
 7   Unnamed: 10  15 non-null     object
 8   Unnamed: 11  3 non-null      object
 9   Unnamed: 13  3 non-null      object
 10  Unnamed: 14  15 non-null     object
 11  Unnamed: 16  18 non-null     object
 12  Unnamed: 18  18 non-null     object
dtypes: object(13)
memory usage: 5.0+ KB
None

In [73]:
# Generate a excel file named 'qs2022.xlsx' with the result_df dataframe
result_df.to_excel('testEx2022.xlsx', index=False)