In [ ]:
import pandas as pd
import openpyxl

In [ ]:
# Read xlsx file and conver to dataframe
df = pd.read_excel('ListadoReaseguro.xlsx', sheet_name='Report')

In [ ]:
# Print resumen of the dataframe
print(df.info())

In [ ]:
# print first elements of the dataframe
print(df.head(25))

In [ ]:
# Initialize an empty list to store the selected DataFrames
selected_dfs = []

# Flags to track whether "TOTAL:" and "Contrato:" are found
total_found = False
contrato_found = False

# Iterate through the DataFrame
for i in range(len(df)):
    # Check conditions for each row
    if df.iloc[i, 2] == "TOTAL:":
        total_found = True
        contrato_found = False
    elif df.iloc[i, 2] == "Contrato:":
        contrato_found = True
        total_found = False
    
    # Select rows between "TOTAL:" and "Contrato:"
    if total_found and not contrato_found:
        selected_dfs.append(df.iloc[i])

# Check if there are selected DataFrames
if selected_dfs:
    # Concatenate the list of selected DataFrames into a single DataFrame
    result_df = pd.concat(selected_dfs, axis=1).T
    
    # Filter out rows that start with specific words in the first column
    result_df = result_df[~result_df.iloc[:, 0].astype(str).str.startswith(('Póliza', 'Operador:'))]
    
    # Filter out rows that in the third column start with specific words
    result_df = result_df[~result_df.iloc[:, 2].astype(str).str.startswith(('REGIONAL', 'Listado', 'Emisiones'))]

    # Remove columns with all NaN values
    result_df = result_df.dropna(axis=1, how='all')
    
    # Now, result_df contains the desired rows between "TOTAL:" and "Contrato:" with additional filtering
else:
    print("No matching rows found.")

# Display the resulting DataFrame
print(result_df)

In [74]:
# Initialize an empty list to store the selected DataFrames
selected_dfs = []

# Flags to track whether "TOTAL:" and "Contrato:" are found
total_found = False
contrato_found = False

# Iterate through the DataFrame
for i in range(len(df)):
    # Check conditions for each row
    if (
        df.iloc[i, 2] == "TOTAL:" and
        df.iloc[i, 3] == 2022 and
        df.iloc[i, 4] == "EXCEDENTE"
    ):
        total_found = True
        contrato_found = False
    elif df.iloc[i, 2] == "Contrato:":
        contrato_found = True
        total_found = False
    
    # Select rows between "TOTAL:" and "Contrato:"
    if total_found and not contrato_found:
        selected_dfs.append(df.iloc[i])

# Check if there are selected DataFrames
if selected_dfs:
    # Concatenate the list of selected DataFrames into a single DataFrame
    result_df = pd.concat(selected_dfs, axis=1).T
    
    # Filter out rows that start with specific words in the first column
    result_df = result_df[~result_df.iloc[:, 0].astype(str).str.startswith(('Póliza', 'Operador:'))]
    
    # Filter out rows that in the third column start with specific words
    result_df = result_df[~result_df.iloc[:, 2].astype(str).str.startswith(('REGIONAL', 'Listado', 'Emisiones'))]
    
    # Remove columns with all NaN values
    result_df = result_df.dropna(axis=1, how='all')
    
    # Now, result_df contains the desired rows between "TOTAL:" and "Contrato:" with additional filtering
else:
    print("No matching rows found.")

# Display the resulting DataFrame
print(result_df)

                     Unnamed: 0 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
11                          NaN     TOTAL:       2022  EXCEDENTE
12                          NaN        NaN        NaN        NaN
13                 Reasegurador        NaN        NaN        NaN
14                          NaN        NaN        NaN        NaN
15                  MS AMLIN AG        NaN        NaN        NaN
16                          NaN        NaN        NaN        NaN
17   KOREAN REINSURANCE COMPANY        NaN        NaN        NaN
18                          NaN        NaN        NaN        NaN
19     SCOR REINSURANCE COMPANY        NaN        NaN        NaN
20                          NaN        NaN        NaN        NaN
21    REASEGURADORA PATRIA S.A.        NaN        NaN        NaN
22                          NaN        NaN        NaN        NaN
320                         NaN     TOTAL:       2022  EXCEDENTE
321                         NaN        NaN        NaN        NaN
322                Reasegurador        NaN        NaN        NaN
323                         NaN        NaN        NaN        NaN
324                 MS AMLIN AG        NaN        NaN        NaN
325                         NaN        NaN        NaN        NaN
327                         NaN        NaN        NaN        NaN
328                         NaN        NaN        NaN        NaN
329                         NaN        NaN        NaN        NaN
333                         NaN        NaN        NaN        NaN
335                         NaN        NaN        NaN        NaN
336  KOREAN REINSURANCE COMPANY        NaN        NaN        NaN
337                         NaN        NaN        NaN        NaN
338    SCOR REINSURANCE COMPANY        NaN        NaN        NaN
339                         NaN        NaN        NaN        NaN
340   REASEGURADORA PATRIA S.A.        NaN        NaN        NaN
341                         NaN        NaN        NaN        NaN
373                         NaN     TOTAL:       2022  EXCEDENTE
374                         NaN        NaN        NaN        NaN
375                Reasegurador        NaN        NaN        NaN
376                         NaN        NaN        NaN        NaN
377                 MS AMLIN AG        NaN        NaN        NaN
378                         NaN        NaN        NaN        NaN
379  KOREAN REINSURANCE COMPANY        NaN        NaN        NaN
380                         NaN        NaN        NaN        NaN
382                         NaN        NaN        NaN        NaN
383                         NaN        NaN        NaN        NaN
384                         NaN        NaN        NaN        NaN
388                         NaN        NaN        NaN        NaN
390                         NaN        NaN        NaN        NaN
391    SCOR REINSURANCE COMPANY        NaN        NaN        NaN
392                         NaN        NaN        NaN        NaN
393   REASEGURADORA PATRIA S.A.        NaN        NaN        NaN
394                         NaN        NaN        NaN        NaN

         Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  Unnamed: 11  \
11       TRANSPORTE        NaN        NaN         NaN  11437974717
12              NaN        NaN        NaN         NaN          NaN
13    Participación        NaN        NaN       Prima          NaN
14              NaN        NaN        NaN         NaN          NaN
15              NaN       50.0          %     7301758          NaN
16              NaN        NaN        NaN         NaN          NaN
17              NaN       25.0          %     3650879          NaN
18              NaN        NaN        NaN         NaN          NaN
19              NaN       20.0          %     2920703          NaN
20              NaN        NaN        NaN         NaN          NaN
21              NaN        5.0          %      730175          NaN
22              NaN        NaN        NaN         NaN          NaN
320        INCENDIO        NaN        NaN         NaN  46671471995
321             NaN        NaN        NaN         NaN          NaN
322   Participación        NaN        NaN       Prima          NaN
323             NaN        NaN        NaN         NaN          NaN
324             NaN       50.0          %     2561267          NaN
325             NaN        NaN        NaN         NaN          NaN
327             NaN        NaN        NaN         NaN          NaN
328             NaN        NaN        NaN         NaN          NaN
329             NaN        NaN        NaN         NaN          NaN
333             NaN        NaN        NaN         NaN          NaN
335             NaN        NaN        NaN         NaN          NaN
336             NaN       25.0          %     1280633          NaN
337             NaN        NaN        NaN         NaN          NaN
338             NaN       20.0          %     1024507          NaN
339             NaN        NaN        NaN         NaN          NaN
340             NaN        5.0          %      256126          NaN
341             NaN        NaN        NaN         NaN          NaN
373  RIESGOS VARIOS        NaN        NaN         NaN    220000000
374             NaN        NaN        NaN         NaN          NaN
375   Participación        NaN        NaN       Prima          NaN
376             NaN        NaN        NaN         NaN          NaN
377             NaN       50.0          %      230500          NaN
378             NaN        NaN        NaN         NaN          NaN
379             NaN       25.0          %      115250          NaN
380             NaN        NaN        NaN         NaN          NaN
382             NaN        NaN        NaN         NaN          NaN
383             NaN        NaN        NaN         NaN          NaN
384             NaN        NaN        NaN         NaN          NaN
388             NaN        NaN        NaN         NaN          NaN
390             NaN        NaN        NaN         NaN          NaN
391             NaN       20.0          %       92200          NaN
392             NaN        NaN        NaN         NaN          NaN
393             NaN        5.0          %       23050          NaN
394             NaN        NaN        NaN         NaN          NaN

    Unnamed: 13 Unnamed: 14       Unnamed: 16      Unnamed: 18
11     25163466         NaN        6637974790         14603515
12          NaN         NaN               NaN              NaN
13          NaN  % Comisión  Importe Comisión  A Vuestro Favor
14          NaN         NaN               NaN              NaN
15          NaN          31           2263541          5038217
16          NaN         NaN               NaN              NaN
17          NaN          34           1241297          2409582
18          NaN         NaN               NaN              NaN
19          NaN          25            730175          2190528
20          NaN         NaN               NaN              NaN
21          NaN          28            204448           525727
22          NaN         NaN               NaN              NaN
320     7128574         NaN       35025822221          5122533
321         NaN         NaN               NaN              NaN
322         NaN  % Comisión  Importe Comisión  A Vuestro Favor
323         NaN         NaN               NaN              NaN
324         NaN          31            794006          1767261
325         NaN         NaN               NaN              NaN
327         NaN         NaN               NaN              NaN
328         NaN         NaN               NaN              NaN
329         NaN         NaN               NaN              NaN
333         NaN         NaN               NaN              NaN
335         NaN         NaN               NaN              NaN
336         NaN          34            435423           845210
337         NaN         NaN               NaN              NaN
338         NaN          25            256131           768376
339         NaN         NaN               NaN              NaN
340         NaN          28             71716           184410
341         NaN         NaN               NaN              NaN
373      461000         NaN         220000000           461000
374         NaN         NaN               NaN              NaN
375         NaN  % Comisión  Importe Comisión  A Vuestro Favor
376         NaN         NaN               NaN              NaN
377         NaN          31             71455           159045
378         NaN         NaN               NaN              NaN
379         NaN          34             39185            76065
380         NaN         NaN               NaN              NaN
382         NaN         NaN               NaN              NaN
383         NaN         NaN               NaN              NaN
384         NaN         NaN               NaN              NaN
388         NaN         NaN               NaN              NaN
390         NaN         NaN               NaN              NaN
391         NaN          25             23050            69150
392         NaN         NaN               NaN              NaN
393         NaN          28              6454            16596
394         NaN         NaN               NaN              NaN

In [75]:
print(result_df.head())

      Unnamed: 0 Unnamed: 2 Unnamed: 3 Unnamed: 4     Unnamed: 7 Unnamed: 8  \
11           NaN     TOTAL:       2022  EXCEDENTE     TRANSPORTE        NaN
12           NaN        NaN        NaN        NaN            NaN        NaN
13  Reasegurador        NaN        NaN        NaN  Participación        NaN
14           NaN        NaN        NaN        NaN            NaN        NaN
15   MS AMLIN AG        NaN        NaN        NaN            NaN       50.0

   Unnamed: 9 Unnamed: 10  Unnamed: 11 Unnamed: 13 Unnamed: 14  \
11        NaN         NaN  11437974717    25163466         NaN
12        NaN         NaN          NaN         NaN         NaN
13        NaN       Prima          NaN         NaN  % Comisión
14        NaN         NaN          NaN         NaN         NaN
15          %     7301758          NaN         NaN          31

         Unnamed: 16      Unnamed: 18
11        6637974790         14603515
12               NaN              NaN
13  Importe Comisión  A Vuestro Favor
14               NaN              NaN
15           2263541          5038217

In [76]:
# Change the column names for letters. Example: "Unamed: 0" to "A"
result_df.columns = [chr(65 + i) for i in range(len(result_df.columns))]

In [78]:
# Remove all the rows that start with "TOTAL:" in the second column, and remove all empty rows
result_df = result_df[~result_df.iloc[:, 1].astype(str).str.startswith('TOTAL:')].dropna(how='all')

In [82]:
# Suma los valores numéricos de las columnas H, la columna L y la columna M,
# devuélveme los valores y almacénalos en variables "prima", "importe_comision" y "a_favor" respectivamente
prima = pd.to_numeric(result_df['H'], errors='coerce').fillna(0).sum()
importe_comision = pd.to_numeric(result_df['L'], errors='coerce').fillna(0).sum()
a_favor = pd.to_numeric(result_df['M'], errors='coerce').fillna(0).sum()

# Imprime los valores de las variables "prima", "importe_comision" y "a_favor"
print(prima)
print(importe_comision)
print(a_favor)

20187048.0
6136881.0
14050167.0

In [79]:
# Generate a excel file named 'qs2022.xlsx' with the result_df dataframe
result_df.to_excel('test.xlsx', index=False)